@media(max-width:1799px){ 
    /* 1400px to  1599px */
    /* lg-screens */
    .aside.active{
        width: 240px;
    }
    .navbar_noti_box_details{
        top: 52px;
    }
    .aside{
        width: 240px;
    }
    .logo_wrapper{
        width: 240px;
    }
    .main{
        width: calc(100% - 240px);
    }
    .dashboard_header {
        width: calc(100% - 240px);
    }
    .logo_text {
        font-size: 18px;
    }
    .asidbox {
        padding: 8px 12px;
    }
    .asidbox_icons_icon {
        font-size: 18px;
    }
    .asidbox_Link{
        font-size: 18px;
    }
    .asidbox_icons {
        width: 33px;
    }
    .navbar_box_text {
        font-size: 16px;
    }
    .ellipsis_circle_icon {
        font-size: 18px;
    }
    .dashboard_box_row_heading {
        font-size: 26px;
    }
    .dashboard_box_row_desc {
        font-size: 16px;
    }
    .card{
        padding: 20px;
        margin-bottom: 20px;
    }
    .card_header_heading {
        font-size: 18px;
    }
    .user_box_center_heading {
        font-size: 16px;
    }
    .user_box_center_desc {
        font-size: 14px;
    }
    .user_box,.post_box {
        column-gap: 13px;
        margin-bottom: 18px;
    }
    .post_box_center_heading {
        font-size: 15px
    }
    .post_box_center_desc {
        font-size: 14px;
    }
    .hr_card_body_heading {
        font-size: 16px;
    }
    .hr_card_body_date {
        font-size: 14px;
    }
    .hr_card_body_desc {
        font-size: 14px;
    }
    .hr_card_link {
        font-size: 14px;
    }
    .navbar_profile_box_name {
        font-size: 14px;
    }
    .bottom_navbar_left_page_name {
        font-size: 16px;
    }
    .bottom_navbar_datebox_date {
        font-size: 14px;
    }
    .bottom_navbar_datebox_icon {
        font-size: 14px;
    }
    .bottom_navbar_datebox {
        gap: 7px;
    }
    .ellipsis_circle{
        width: 100px;
        height: 100px;
    }
    .navbar_noti_box,.post_box_left{
        width: 40px;
        height: 40px;
    }

    .navbar_noti_box_icone,.post_box_left_icon,.user_box_left_icon,.ellipsis_circle_icon {
        font-size: 15px;
    }
    .card_header_link {
        font-size: 16px;
    }
    .user_box_right_link {
        font-size: 14px;
    }
    .card_header_link_icone{
        font-size: 18px;
    }
    .navbar_search_box_btn_icone{
        font-size: 14px;
    }
}
@media(max-width:1599px){ 
    /* 1400px to  1599px */
    /* lg-screens */

}
@media(max-width:1399px){ 
    /* 1200px to  1399px */
    /* full laptops */
    .dashboard_box_wrapper{
        row-gap: 20px;
    }
    .hr_card_body {
        width: calc(90% - 166px);
        padding: 10px 15px;
    }
    .hr_card_footer {
        width: 13%;
    }
    .hr_card_body_desc {
        width: 99%;
    }
    .google_analytics_img {
        max-width: 170px;
        height: auto;
    }
    .hr_card_img {
        width: 150px;
    }
    .dashboard_box_row_desc{
        min-height: auto;
    }
    .productBtnWrpr {
        gap: 15px 20px;
    }
}
@media(max-width:1199px){ 
    /* 992px to  1199px */
    /* small laptops */
    .navbar_box2 {
        column-gap: 20px;
    }
    .navbar_notifications_box {
        gap: 12px;
    }
    .navbar {
        padding: 10px 20px;
    }
    .pTable tr th {
        font-size: 18px;
    }
    .pTable tr td {
        font-size: 16px;
    }
    .pTableCol-cateImg {
        height: 25px;
        width: auto;
    }
}
@media(max-width:1023px){ 
    /* your code will be here */
    /* tablets */
    .navbar,.bottom_navbar{
        padding: 10px 15px;
    }
    .navbar_box2 {
        column-gap: 20px;
    }
    .main_body {
        padding: 20px 5px;
    }
    .dashboard_box_wrapper {
        row-gap: 15px;
    }
    .navbar_profile_box_menu{
        inset: 52px 0 auto auto !important;
    }
    .card {
        padding: 15px;
        margin-bottom: 15px;
    }
    .navbar_profile_box {
        column-gap: 5px;
    }
    .navbar_notifications_box {
        gap: 8px;
    }
    .bottom_navbar_right {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }
    .sidebar_btn{
        display: flex;
    }
    .logo_wrapper {
        padding: 10px 18px;
        position: relative;
    }
    .aside_container {
        margin-top: 0;
        padding: 10px 15px 0 15px;
    }
    .dashboard_header, .main {
        width: calc(100%);
    }
    .navbar_search_box_input{
        width: 250px;
    }
    .aside{
        left: -280px;
        position: fixed;
        z-index: 10;
        transition: left 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .aside.active{
        width: 240px;
        left: 0;
        z-index: 10;
        position: fixed;
        box-shadow: 0 0 0 5000px rgba(0,0,0,0.5);
        transition: left 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .logo_img {
        width: 120px;
        height: auto;
    }
    .asideClose{
        display: flex;
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 99;
    }
    .pTable tr th {
        font-size: 18px;
    }
    .pTable tr td {
        font-size: 16px;
    }
    .pTableCol-cateImg {
        height: 25px;
    }
    .tableHdrSubBtnB2 {
        padding: 5px 10px 5px 8px;
        font-size: 15px;
    }
    .tableHdrBtn {
        width: 32px;
        height: 32px;
    }
    .tableHdrSubBtn {
        height: 35px;
    }
    .tableHdrBtnIcn {
        font-size: 14px;
    }
    .tableHdrSubBtnB1 {
        width: 38px;
        height: 35px;
        background-color: #5356E1;
    }
    .tableHdr{
        flex-wrap: wrap;
    }
    .pTableBtn {
        width: 22px;
        height: 22px;
    }
    .pTableWrpr {
        column-gap: 8px;
    }
    .pTable tr th {
        padding: 10px 5px 10px 5px;
    }
    .pTable tr td {
        padding: 10px 5px;
    }
    .tableHdr-btns-wpr {
        column-gap: 17px;
    }
}
@media(max-width:767px){
    /* 540px to  767px */
    /* tablets and bigger mobiles */
    .tableController{
        overflow-x: scroll;
    }
    .navbar_search_box_input{
        display: none;
    }
    .navbar_profile_box_name{
        display: none;
    }
    .navbar_search_box_mobile.active{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 65px;
        background-color: var(--off-white2);
    }
    .navbar_search_box_mobile_input{
        width: 80%;
        height: 45px;
        color: var(--icon);
        border-radius: 25px;
        border: 1px solid var(--border);
        font-size: 16px;
        padding: 5px 15px;
    }
    .editPrdtBox{
        flex-wrap: wrap;
        justify-content: initial;
        row-gap: 15px;
    }
    .pTable{
        display: block;
    }
    .tabRow .col-xs-12sm{
        margin-bottom: 25px;
    }
    .tableHdr{
        flex-wrap: wrap;
        row-gap: 15px;
    }
}
@media(max-width:539px){
    /* 360px to  539px */
    /* normal mobiles */
    .navbar_box2 {
        column-gap: 0px;
    }
    .navbar_profile_box_menu {
        inset: 44px 0 auto auto !important;
    }
    .navbar_search_box_btn {
        width: 28px;
        height: 28px;
        top: calc(50% - 28px / 2);
    }
    .navbar_noti_box, .post_box_left, .ellipsis_circle {
        width: 31px;
        height: 31px;
    }
    .navbar_noti_box_counter {
        top: -7px;
        font-size: 10px;
        width: 18px;
        height: 18px;
        border: 1px solid var(--white);
    }
    .navbar_search_box_btn_icone {
        font-size: 12px;
    }
    .navbar_noti_box_icone, .post_box_left_icon, .user_box_left_icon, .ellipsis_circle_icon {
        font-size: 14px;
    }
    .navbar_profile_box_img_holder {
        width: 20px;
        height: 20px;
    }
    .navbar_profile_box {
        height: 30px;
        padding: 2px 4px;
        border-radius: 25px;
        border: 1px solid var(--border);
        column-gap: 10px;
    }
    .sidebar_btn_icon {
        font-size: 16px;
    }
    .navbar_box_text {
        font-size: 14px;
    }
    .bottom_navbar_left {
        column-gap: 10px;
    }
    .bottom_navbar_left_page_name {
        font-size: 14px;
    }
    .bottom_navbar_left_page_dot {
        width: 8px;
        height: 8px;
        border: 1px solid var(--mid-black);
    }
    .language_toggle_ar_img{
        width: 40px;
        height: auto;
    }
    .theme_toggle div {
        width: 28px;
        height: 28px;
    }
    .theme_toggle_img {
        width: 14px;
    }
    .theme_toggle_dark .theme_toggle_img {
        width: 17px;
    }
    .dashboard_box_row {
        margin-bottom: 10px;
    }
    .hr_card{
        flex-direction: column;
        justify-content: center;
    }
    .hr_card_img{
        width: 100%;
        height: 100px;
    }
    .hr_card_body{
        width: 100%;
    }
    .hr_card_footer{
        width: 100%;
        margin: 0 15px;
        padding: 0 0 10px 0;
    }
    .hr_card_body_date{
        margin-bottom: 5px;
    }
    .hr_cardhdr{
        flex-wrap: wrap;
        align-items: center;
    }
    .hr_cardhdrB1{
        width: 100%;
        margin-bottom: 10px;
    }
    .usrMdlHdrB2P {
        margin-bottom: 10px;
    }
    .navbar_noti_box_details{
        right: -40px;
    }
    .navbar_noti_box_details{
        top: 48px;
    }
    .navbar_noti_box_details_for_hover {
        width: 47px;
        left: calc(50% - 30px);
        height: 20px;
        transform: translateY(-20px);
        background-color: transparent;
        position: absolute;
    }
    .delModal {
        padding: 20px 0px;
    }
    .tableHdr{
        flex-wrap: wrap;
        row-gap: 15px;
    }
    .prdctMdl ,.prdctMdlHdr{
        padding: 20px 20px;
    }
    .tabRow ,.tabRow .col-xs-12sm{
        margin-bottom: 12px;
    }
    .pdTabLabel{
        font-size: 16px;
    }
    .pdTabInput{
        font-size: 14px;
    }
    .formBoxBtn{
        margin-top: 20px;
    }
    .formBoxBtn,.pdTabselect,.pdTabInput{
        height: 45px;
    }
    .pdTabTextarea{
        min-height: 120px;
    }
    .productListBtn{
        font-size: 15px;
    }
    .productBtn {
        column-gap: 10px;
        padding: 6px 7px 6px 10px;
        border-radius: 7px;
        cursor: pointer;
    }
    .productTypeBtn {
        width: 30px;
        height: 26px;
        font-size: 14px;
    }
    .productBtnWrpr {
        padding: 7px 0px;
        gap: 12px;
        margin-bottom: 30px;
    }
    .tableHdrBtn {
        width: 35px;
        height: 35px;
    }
    .tableHdrBtnIcn {
        font-size: 13px;
    }
    .pTable tr td {
        padding: 8px 8px;
        font-size: 13px;
    }
    .pTable tr th,.pTable tr td {
        font-size: 14px;
    }
    .prdctRowTxt {
        font-size: 16px;
    }
    .prdctRow {
        column-gap: 14px;
    }
    .pTableCol .fa-eye {
        font-size: 16px;
    }
    .pTableBtn i {
        font-size: 10px;
    }
    .PCnt {
        width: 22px;
        height: 22px;
        font-size: 12px;
    }
    .reportsBtnWrpr {
        gap: 15px;
        margin-bottom: 20px !important;
    }
    .reportBoxWrpr {
        gap: 13px 20px;
    }

}
@media(max-width:359px){
    /* 320px to  359px */
    /* small mobile */
}
