.rtl .aside,
.rtl .logo_wrapper {
    right: 0;
}
.rtl .main {
    margin-left: 0;
    margin-right: auto;
}
.rtl .dashboard_header {
    right: auto;
    left: 0;
}
.rtl .navbar_search_box_btn {
    right: auto;
    left: 10px;
}
.rtl .navbar_box1 {
    margin: 0 15px;
    margin-left: auto;
}
.rtl .fa-arrow-right-long{
    transform: scaleX(-1);
}
.rtl .drp_box {
    right: auto;
    left: 0;
}
.rtl .navbar_search_box_btn::after {
    content: '';
    right: 0;
}
.rtl .asidbox_LinkIcn {
    margin-left: 0px;
    margin-right: 5px;
    transform: scaleX(-1);
}
.rtl .user_box,.rtl .order_box{
    direction: rtl;
}
.rtl .user_box_right {
    margin-right: auto;
    margin-left: 0;
}
.rtl .searchBoxBtn {
    right: auto;
    left: 15px;
}
.rtl .editProductListBack i{
    transform: scaleX(-1);
}
.rtl .modalClose {
    right: auto;
    left: 10px;
}
.rtl .productBtn {
    padding: 6px 13px 6px 7px;
}
.rtl .myModal .flex .ml-auto,
.rtl .accBdyQty.ml-auto,
.rtl .prdctMdlHdr .ml-auto,
.rtl .prdctMdl .flex .ml-auto
{
    margin-left: 0;
    margin-right: auto;
}
.rtl .PCnt {
    margin-left: 0px;
    margin-right: 5px;
}
.rtl .reportBoxB{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.rtl .navbar_noti_box_details_box.unread::after {
    top: 13px;
    left: 13px;
    right: auto;
}
@media(max-width:1023px){
    .rtl .aside{
        left: auto;
        right: -300px;
        z-index: 99999;
        transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    .rtl .aside.active{
        left: auto;
        right: 0px;
        z-index: 99999;
        transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    }
    .rtl .asideClose {
        right: auto;
        left: 10px;
    }
}
@media(max-width:767px){
    .rtl .navbar_profile_box_menu{
        right: -90px !important;
    }
}
@media(max-width:539px){
    .rtl .navbar_profile_box_menu{
        right: -104px !important;
    }
    .rtl .navbar_noti_box_details {
        top: 47px;
        right: -124px;
    }
}