/*
autor:ahsan Contact Whatsup + skype +923014749625;
*/

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root{
	--white: #fff;
	--off-white: #F4F6F9;
	--off-white2: #ffeeed;
	--orange: #FA5D46;
	--sky-blue: #EDF1FE;
	--light-blue: #e3342e;;
	--light-purple: #4C4C6F;
	--icons: #898989;
	--border: #F4F4F4;
	--mid-black: #3B3A3A;
	--cyan:#3AB4F2;
	--aside: 280px;
	--grey:#9A9A9A;
	--green:  #10CE3C;
}
.orange{
	color: var(--orange);
}
.green{
	color: var(--green);
}
.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform .1s ease-out;
	-o-transition: -o-transform .1s ease-out;
	transition: transform .1s ease-out;
}
.modal.show .modal-dialog {
	-webkit-transition: -webkit-transform .1s ease-out;
	-o-transition: -o-transform .1s ease-out;
	transition: transform .1s ease-out;
}
.modalClose{
	position: absolute;
	top: 10px;
	right: 10px;
	left: auto;
	width: 18px;
	height: 18px;
	font-size: 14px;
}
.myModal{
	padding: 20px;
}
body{
	font-family: 'Tajawal';
	font-weight: 500;
	color: var(--mid-black);
}
body.dark{
	background-color: #15212D;
}
button{
	font-weight: 500;
}
h1,h2,h3,h4,h5,h6,p,span,form,ul,a{
    margin: 0;
    padding: 0;
}
img{
	max-width: 100%;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
	color: var(--mid-black);
    transition: color 0.3s ease-in-out;
}
a:hover{
	color: var(--mid-black);
	text-decoration: none;
    transition: color 0.3s ease-in-out;
}
input{
	outline: none;
}
.wrapper{
	display: flex;
}
.flex{
	display: flex;
}
.d-col{
    flex-direction: column;
}
.items-center{
	align-items: center;
}
.justify-center{
	justify-content: center;
}
.justify-between{
	justify-content: space-between;
}
.justify-end{
    justify-content: flex-end;
}
.mgb-0{
	margin-bottom: 0 !important;
}
.mgt-0{
	margin-top: 0 !important;
}
.mgr-0{
	margin-right: 0 !important;
}
.mgl-0{
	margin-left: 0 !important;
}
.ml-auto{
    margin-left: auto;
}
.mr-auto{
    margin-right: auto;
}
.uppercase{
	text-transform: uppercase;
}
.capitalize{
	text-transform: capitalize;
}
.btn1{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border: none;
	outline: none;
	text-decoration: none;
}

.dashboard-wrapper{
	min-height: 100vh;
}
.boder{
	border: 1px solid var(--border);
}
.border-radious-8{
	border-radius: 8px;
}
.card{
	background-color: #fff;
	padding: 25px;
	border: none;
	/* box-shadow: 0 3px 20px 0 rgba(0,0,0,0.02); */
	margin-bottom: 25px;
}
.card_header{
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.card_header_heading{
	font-size: 18px;
	color: var(--mid-black);
	font-family: 'Tajawal';
}
.card_header_link_icone{
	font-size: 24px;
	line-height: 1;
	color: var(--light-blue);
}
.icon{
    color: var(--icons);
}
.owl-theme .owl-dots .owl-dot span {
    background: #DBDCDD;
}
.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span{
	background: #5356E1;
}